In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
# importing train data and accessing top 5 records
trainData = pd.read_csv("C:/Users/Grapes/Downloads/tennis.csv")
trainData.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
# trainData.isnull().any()
#knowing the data size
trainData.shape

(14, 6)

In [4]:
#importing test data & accessing top 5 records

testData = pd.read_csv("C:/Users/Grapes/Downloads/test_tennis.csv")
testData.head()

   D15 Overcast  Cool  Normal Strong
0  D16    Sunny  Mild    High   Weak
1  D17    Sunny  Cool  Normal   Weak
2  D18    Sunny   Hot    High   Weak
3  D19    Sunny  Mild    High   Weak

In [5]:
#size of test data
testData.shape

#in test data header is missed so taking headers value for tets data as train data

(4, 5)

In [6]:
colNames = list(trainData.columns.values) 
colNames = colNames[0:len(colNames)-1]   #for test data play column is ignored
colNames

['day', 'outlook', 'temp', 'humidity', 'wind']

In [7]:
testData = pd.read_csv("C:/Users/Grapes/Downloads/test_tennis.csv", names=colNames) 
# for test data assigning column names as train data

In [8]:
#size of test_data
print("The Test Data Shape : ",testData.shape)

print("************************")
#after adding new columns checking the test data
print("Test Data after adding columns name as Train Data\n",testData.head())

The Test Data Shape :  (5, 5)
************************
Test Data after adding columns name as Train Data
    day   outlook  temp humidity    wind
0  D15  Overcast  Cool   Normal  Strong
1  D16     Sunny  Mild     High    Weak
2  D17     Sunny  Cool   Normal    Weak
3  D18     Sunny   Hot     High    Weak
4  D19     Sunny  Mild     High    Weak

In [9]:
feature_cols = ['day', 'outlook', 'temp', 'humidity','wind'] #independent columns
X = trainData[feature_cols] # Features
y = trainData.play # Target variable / dependent feature

In [10]:
#checking any null values in data beofre using decision claasifier

trainData.isnull().any()

day         False
outlook     False
temp        False
humidity    False
wind        False
play        False
dtype: bool

In [11]:
#splitting train & test data

X_train = trainData.iloc[0:,1:4]      #excluding play & Day column
y_train = trainData.iloc[0:,5]        # we are predicting plays or not so dependent 
                                      # fetaure is Play assignng to Y-train

X_test = testData.iloc[0:,1:]       #excluding day column

# print(X_train)
# print(y_train)
#print(X_test)

In [12]:
# #converting the categorical data to numerical data using the get_dummies method
X_train_data = pd.get_dummies(X_train, columns = X_train.columns,drop_first = True)
X_test_data = pd.get_dummies(X_test, columns = X_test.columns,drop_first = True)

y_Train_data =  pd.get_dummies(y_train,drop_first = True)

In [13]:
X_train_data.head()

   outlook_Rain  outlook_Sunny  temp_Hot  temp_Mild  humidity_Normal
0             0              1         1          0                0
1             0              1         1          0                0
2             0              0         1          0                0
3             1              0         0          1                0
4             1              0         0          0                1

In [14]:
X_test_data.head()

   outlook_Sunny  temp_Hot  temp_Mild  humidity_Normal  wind_Weak
0              0         0          0                1          0
1              1         0          1                0          1
2              1         0          0                1          1
3              1         1          0                0          1
4              1         0          1                0          1

In [15]:
#outlook_rainy is missing in test data insert the column and value so that train and test data will be matched.


X_test_data.insert(0, 'outlook_Rain', 0)

#added column at 0 index position with default alue as zero (0)

In [16]:
X_test_data.head()

,outlook_Rain,outlook_Sunny,temp_Hot,temp_Mild,humidity_Normal,wind_Weak
0,0,0,0,0,1,0
1,0,1,0,1,0,1
2,0,1,0,0,1,1
3,0,1,1,0,0,1
4,0,1,0,1,0,1

In [17]:
#referring here the splitted train & test data for prediction


X_train = X_train_data
y_train = y_Train_data

X_test = X_test_data.iloc[0:,0:5]

In [18]:
print("X_train Data\n",X_train.head())
print("********************************")

# print("y_train Data\n",y_Train_data.head())
# print("*********************************")

print("X_test Data\n",X_test)

X_train Data
    outlook_Rain  outlook_Sunny  temp_Hot  temp_Mild  humidity_Normal
0             0              1         1          0                0
1             0              1         1          0                0
2             0              0         1          0                0
3             1              0         0          1                0
4             1              0         0          0                1
********************************
X_test Data
    outlook_Rain  outlook_Sunny  temp_Hot  temp_Mild  humidity_Normal
0             0              0         0          0                1
1             0              1         0          1                0
2             0              1         0          0                1
3             0              1         1          0                0
4             0              1         0          1                0

In [19]:
from sklearn.model_selection import  cross_val_score
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# using cross validation method to validate the model
scores = cross_val_score(clf, X_train, y_train, cv=5)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [20]:
y_pred

array([1, 0, 1, 0, 0], dtype=uint8)

In [21]:
#Checking the score

from statistics import mean 
print("Score : ",mean(scores)*100)

Score :  70.0